/* Estilo Geral */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    text-align: center;
}

/* Título Principal */
h1 {
    color: #4a4a4a;
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Container de Produtos */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}

/* Estilo dos Produtos */
.product {
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

/* Efeito de Hover nos Produtos */
.product:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* Imagem do Produto */
.product img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

/* Título do Produto */
.product h2 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

/* Preço do Produto */
.product p {
    font-size: 1.2rem;
    color: #4CAF50;
    margin: 5px 0;
    font-weight: bold;
}

/* Botão de Compra */
.buy-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
}

/* Efeito de Hover no Botão */
.buy-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
    .product {
        width: 90%;
    }
}
